.createDiv {
    margin-top: 120px;
    margin-bottom: 100px;
}

#create{
    background-color: rgb(241, 236, 252);
}


#createTitle{
    width: 300px;
}

#subQuizBtn{
    position:relative;
    float:right;
}

.questionInput{
    width:400px;
}

.question-card {
    border: 1px solid black !important;
    margin-top: 25px;
}