#profilePicCard {
    text-align: center;
    margin-top: 150px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    background-color: rgb(155, 122, 216);
    box-shadow: 0px 0px 30px 5px;
}

#profilePic {
    width: 40%;
    border-radius: 999px;
    border: 1px solid black;
}

#usernameCard {
    border: 1px solid black;
    width: 250px;
    margin-bottom: 50px;
    background-color:white;
    border-radius: 30px;
}

#userInfoDiv {
    text-align: center;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    background-color: rgb(155, 122, 216);
    box-shadow: 0px 0px 40px 5px;
    margin-bottom: 100px;
}

.infoCards {
    margin: 20px;
    margin-left: 80px;
    margin-right: 80px;
}

.quizGrades {
    display: flex;
    justify-content: space-between;
}

.quizName {
    text-align: left;
}

#created {
    display: flex;
    justify-content: space-between;
}

.createdBtns {
    margin: 5px;
    /* border: 3px solid black !important; */
    font-weight: 900 !important;
    color: black !important;
}

.background {
    background-color: rgb(223, 223, 223);
}