#logo {
    width: 50px;
}

#navBar {
    padding: 15px;
    width: 100%;
    align-items: center;
    background-color: rgb(207, 184, 179);
    box-shadow: 0px 0px 30px 1px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#navBar li {
    margin-left: 20px;
}

#navBar li a{
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
}

#searchBar button {
    margin-left: 5px;
}