#logo {
    padding-top: 15px;
}

#navBar {
    padding: 10px;
    width: 100%;
    align-items: center;
    background-color: rgb(207, 184, 179);
    box-shadow: 0px 0px 30px 1px;
    position: fixed;
    top: 0;
    z-index: 1;
}

#navBar li {
    margin-left: 30px;
}

#navBar li a{
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
    color: rgb(75, 120, 141);
}

#searchBar {
    margin-left: auto !important;
}

#searchBar button {
    margin-left: 5px;
    border-radius: 12px;
}